<!DOCTYPE html>
<html>
<head>
  <title>Add a new field</title>
</head>
<body>
  <form action="/students" method="POST">
    <input type="text" name="name" placeholder="full name">
    <button type="submit">Save</button>
  </form>
</body>
</html>