*{
  margin: 0;
}

#contact-info {
  font-size: .8em;
}
.job {
  background-color: #e9e5dc;
  padding: 20px;
  margin-top: 10px;
  border-radius: 25px;
}

.accomplishments {
  font-size: .8em;
}

.accomplishments:first-letter {
  font-size: 1.2em;
  font-weight: bold;
}

#volunteer-experience li{
  border-radius: 15px;
  background-color: #f9e7dc;
}

li:first-child {
  font-weight: bold;
}